.bdy {
  
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}


.selectionRadio {
    padding: 2px;
    border-radius: 6.1px;
    color: white;
    max-width: 24.5%;
    background-color: #29487d;
}
.ContentHeadercss {
    padding: 2px;
    border-radius: 6.1px;
    color: white;
    width:fit-content;
    background-color: #29487d;
}

.radioHeader {
    padding: 5px;
}

.NoteHeader {
    max-width: 45%;
    background-color: yellow;
}

.eachRow {
    padding: 0px 0px 30px;
}

.logo {
    border-radius: 253.5px;
    width: 72px;
    padding: 5px 0px 0px 0px;
}

.footercss {
    position: absolute;
    background-color: #4267b2;
    width: 100%;
    margin-left: -8.1%;
    padding: 0px 8px 0px 104px;
    bottom:0px;
}

.TblFormat {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.TblFormat td, .TblFormat th {
    border: 1px solid #ddd;
    padding: 8px;
}

.TblFormat tr:nth-child(even){background-color: #f2f2f2;}

.TblFormat tr:hover {background-color: #ddd;}

.TblFormat th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


body {font-family: Arial, Helvetica, sans-serif;
        padding-top: 20px;
    padding-bottom: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.containercss {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    overflow:auto;
}