
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="containercss">DashBoard</h5>
<div class="col-md-12">
    <div><input type="submit" id="loadData" data-bind="click:Allusers" style="display:none;" /></div>
    <div>
        <table class="TblFormat">
            <thead>
                <tr><th>Email</th><th>First Name</th><th> Last Name</th><th>PhoneNo.</th><th class="active"><u>Action</u></th></tr>
            </thead>
            <tbody>
                <!-- ko foreach: Apps -->
                <tr>
                    <td class="active" data-bind="text:Email"></td>
                    <td class="active" data-bind="text:First_Name"></td>
                    <td class="active" data-bind="text:Last_Name"></td>
                    <td class="active" data-bind="text:Phone_No"></td>
                    <td><a href="~/Home/ContactDetails/" class="alert-success">Edit </a></td>
                </tr>
                <!-- /ko-->
            </tbody>
        </table>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/VMDashboard.js"></script>
<script>
    $(document).ready(function () {
        //$("#loadData")
        var model = [];
        var appUsersVM = new ContactViewViewModel(model, "", "", "", "");
        ko.applyBindings(appUsersVM);
        $("#contentTable").show();

        $("#loadData").focus().click();
    });
</script>
